@import "../../assets/scss/variables.scss";

.home {
  font-family: $title-font;
  background-image: url("./back.png");
  background-size: 100vh;
  width: 100%;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  .texts {
    margin: auto;
    justify-content: center;
    align-self: center;
    .hello {
      color: $primary-color;
      font-size: 36px;
      font-weight: 500;
      margin: 0;
    }
    .name {
      font-size: 48px;
      font-weight: bold;
      margin: 0;
    }
  }
  .arrow {
    align-self: center;
    img {
      width: 40px;
      padding: 20px;
    }
  }
}
