@import "../../assets/scss/variables.scss";

.footer {
  background-color: black;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .cv {
    margin-left: 20px;
    a {
      color: white;
      font-family: $title-font;
      font-size: 30px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    i {
      text-align: center;
      color: white;
      padding: 20px;
      transition: transform 0.5s;
      &:hover {
        transform: scale(1.3);
      }
    }
  }
}
